.preview-page {margin-top: 8px !important;}

.page {
  padding: 2cm;
}

.column {
  float: left !important;
  width: 50% !important;
}

.left_column {
  float: left !important;
  width: 40% !important;
}

.right_column {
  float: right !important;
  width: 60% !important;
}

.row:after {
  content: ""; !important;
  display: table !important;
  clear: both !important;
}
